body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    max-width: 100vw;
    overflow-x: hidden;
}

#slider-container {
    width: 640px; /* Set this to the width of your images */
    overflow: hidden;
    cursor: pointer;
}

/* Default styles for larger screens */
#slider-container {
    text-align: center; /* This centers the image within the container */
}

#eelImage {
    width: 100%; /* Full width on larger screens */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Makes the image a block element */
    margin: 0 auto; /* Auto margins for horizontal centering */
}

/* Media query for smaller screens */
@media (max-width: 600px) {
    #eelImage {
        width: 80%; /* Smaller width on smaller screens */
    }
}

/* Additional styles for centering on mobile */
@media (max-width: 600px) {
    #slider-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh; /* Take up full viewport height */
    }
}
